<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<hr>

<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Criar conta</h4>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input formControlName="name" class="form-control" placeholder="Nome completo" type="text">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input formControlName="email" class="form-control" placeholder="Email" type="email">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input formControlName="password" class="form-control" placeholder="Criar senha" type="password">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input formControlName="confirmPassword" class="form-control" placeholder="Repetir senha" type="password">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Criar conta </button>
        </div>
        <p class="text-center">Já possui uma conta? <a href="/login">Logue</a> </p>
      </form>
    </article>
</div>

</div> 

<br><br>
