<!--Section: Contact v.2-->
<section class="mb-4" style="width: 70%; margin: auto; ">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Entre em contato conosco!</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
        Você tem alguma pergunta? Por favor, não hesite em nos contatar diretamente. Nossa equipe retornará para você dentro
                questão de horas para ajudá-lo.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" >

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Seu nome</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Seu e-mail</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Sua mensagem</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="alert('Mensagem enviada com sucesso!');">Enviar</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Rua Robert Bosch, 611 - Parque Industrial Tomas Edson, São Paulo - SP, 01141-01</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>(11) 91234-5678</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p> contato@pataponto.com.br</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>
    
</section>
<!--Section: Contact v.2-->