<div style="width: 40%; margin: auto; margin-top: 100px;">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-outline mb-4">
      <input type="email" id="form2Example1" class="form-control" formControlName="email"/>
      <label class="form-label" for="form2Example1">Email</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" formControlName="password"/>
      <label class="form-label" for="form2Example2">Senha</label>
    </div>

    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>

    <div class="text-center">
      <p>Não possui cadastro? <a href="/cadastro">Registre-se</a></p>
    </div>
  </form>
</div>