
<h2 class="mb-4">Para onde deseja viajar com seu companheiro(a)?</h2>
<div class="card-deck">
  <div class="card" *ngFor="let trip of trips">

    <img class="card-img-top" [src]="'../../assets/images/' + trip.destination + '.jpeg'" alt="Destino">
    <div class="card-body">
      <h5 class="card-title">{{ trip.destination }}</h5>
      <p class="card-text">Partida: {{ trip.partida }}</p>
      <p class="card-text">Volta: {{ trip.volta }}</p>
      <p class="card-text">Preço: R$ {{ trip.preco | number:'1.2-2' }}</p>
      <button class="btn btn-primary" >Selecionar</button>
    </div>
  </div>
</div>