<div class="container mt-5">
    <h2 class="mb-4">Regras para Viajar com Seu Pet</h2>
  
    <p>Bem-vindo à nossa página de informações sobre como viajar com seu pet. Entendemos que seu animal de estimação é parte da família, e queremos garantir que a experiência de viagem seja agradável e segura para todos.</p>
  
    <p>Abaixo estão algumas diretrizes importantes que você deve considerar ao planejar uma viagem com seu pet:</p>
  
    <ol>
      <li class="mb-4">
        <h3>Documento de Identificação:</h3>
        <p>Certifique-se de que seu pet possui um documento de identificação com informações atualizadas, incluindo nome, endereço e informações de contato. Isso é essencial caso vocês se separarem durante a viagem.</p>
      </li>
  
      <li class="mb-4">
        <h3>Vacinação em Dia:</h3>
        <p>Garanta que as vacinas do seu pet estejam em dia. Com a vacinação em dia, é poossível garantir a saúde de todos.</p>
      </li>
  
      <li class="mb-4">
        <h3>Transporte Adequado ou Cinto de segurança:</h3>
        <p>Utilize uma caixa de transporte segura e apropriada para o tamanho do seu pet ou cinto de segurança durante a viagem. Certifique-se de que a caixa seja ventilada e confortável, caso a utlize, para o seu animal.</p>
      </li>
  
      <li class="mb-4">
        <h3>Alimentação e Hidratação:</h3>
        <p>Leve água e comida suficientes para a viagem. Evite alimentar seu pet pouco antes do embarque para evitar desconforto estomacal. Tenha também em mente as necessidades alimentares específicas do seu animal de estimação.</p>
      </li>
  
      <li class="mb-4">
        <h3>Conforto do Pet:</h3>
        <p>Coloque uma manta ou brinquedo familiar na caixa de transporte para proporcionar conforto ao seu pet durante a viagem. Isso pode ajudar a acalmar seu animal e tornar a experiência mais agradável.</p>
      </li>
  
    </ol>
  
    <p>Esperamos que estas diretrizes facilitem o planejamento de sua viagem com seu pet. Se tiver dúvidas específicas, não hesite em entrar em contato conosco para obter informações adicionais.</p>
  </div>